* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;

}

.EersteHeader1 {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.EersteParagraaf {
    color: white;
    width: 80%;
    margin: auto;
    text-align: center;
}

.KopTekst {
    border-radius: 10px;
    width: 80%;
    margin: auto;
    background: linear-gradient(red, yellow, blue);
    box-shadow: 0 0 30px 30px rgba(110, 0, 0, 1);
}

.EersteCaption {
    color: white;
    margin: 20px 0px;
    text-align: center;
    background-color: #000000;
    }

.EersteTabel {
    color: white;
    margin: auto;
    padding: 20px;
    width: 80%;
    background-color: #000000;
}

.Datum {
    width: 20%;

}

.Dagoverzicht {
    width: 100%;
}

.Overdenking {
    width: 100%;
}

.Foto {
    width: 20%;
}

.EersteRij {
    background: linear-gradient(red 70%, blue);
}

html {
    background: linear-gradient(red, yellow, blue);

}
